* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    background-color: white;
    border: 5px solid green;
}


nav .nav-left, .nav-right {
    width: 30%;
    height: 30px;
    border: 1px solid red;
    /* test */
}


nav .nav-list-left {
    display: flex;
    flex-direction: row;

}

nav .nav-list-left {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    /* width: 70%; */
}

nav .nav-list-right {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    /* width: 70%; */
}


nav li {
    width: 10%;
    height: 30px;
    border: 1px solid orange;
    /* test */
}

/* header */
header {
    border: 5px solid brown;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 400px;
    /* test */
}

header .head-container {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;

    height: 400px;
    width: 70%;
    /* test */
}

header .head-container .title {
    width: 100%;
    height: 100px;

    border: 1px solid blue;
    /* test */
}

header .head-container .paragraph {
    width: 30%;
    height: 200px;
    border: 1px solid blue;
    /* test */
}

header .head-container .img {
    width: 70%;
    height: 200px;
    border: 1px solid blue;
    /* test */
}

/* main */

main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    border: 5px solid red;
}

main .title {
    margin-top: 100px;


    border: 1px solid orange;
    /* test */
}

main .fatturazione {
    width: 20%;
    height: 30px;
    border: 1px solid orange;
    margin: 20px 0;
    /* test */
}

main .plan-container {
    display: flex;
    gap: 20px;
}

main .in-card-container {
    padding: 20px;
}

main .card {
    width: calc(100% / 3);

    
    border: 1px solid green;
    /* test */
}

main .type {
    height: 40px;
    border: 1px solid red;
    /* test */
}


main  .plan-container .in-card-container .plan h2 {
    margin: 10px 0;

    border: 1px solid orange;
    /* test */
}

main  .plan-container .in-card-container .plan .price {
    border: 1px solid orange;
    /* test */
}

main .plan-container .in-card-container .plan .timeliness {
    margin: 10px 0;
    border: 1px solid orange;
    /* test */
}

main .plan-container .in-card-container .details{
    display: flex;
    margin-top: 50px;
}

main .plan-container .in-card-container .details .icon {
    width: 10%;
    height: 100px;

    border: 1px solid orange;
    /* test */
}

main .plan-container .in-card-container .details .icon-text {
    width: 90%;
    height: 100px;

    border: 1px solid orange;
    /* text */
}

main .plan-container .in-card-container .btn {
    margin-top: 30px;
    text-align: center;
}

main .plan-container .in-card-container .buy-now {
    width: 100%;
    height: 60px;
    margin-top: 20px;

    border: 1px solid orange;
    /* test */
}

main .plan-container .in-card-container .speciality {
    width: 100%;
    height: 100px;
    margin-top: 30px;

    border: 1px solid orange;
    /* test */
}

main .plan-container .in-card-container .speciality h6 {
    
    
    border: 1px solid orange;
    /* test */
}

main .plan-container .in-card-container .longer {
    height: 200px;
    /* test */
}

main .horizontal-card {
    width: 100%;
    height: 200px;
    margin-top: 50px;

    border: 1px solid green;
    /* test */
}

main .horizontal-card .flex-cont {
    display: flex;
}

main .horizontal-card .text {
     width: 70%;
     height: 160px;
     padding: 20px 10px;
     
     border: 1px solid orange;
     /* test */
}

main .horizontal-card .text #title {
    margin-bottom: 20px;
}

main .horizontal-card .text p {
    margin-top: 20px;
}

main .horizontal-card .btn {
    width: 30%;
    height: 160px;

    border: 1px solid orange;
     /* test */
}

main .text-img-container {
    width: 100%;
    height: 300px;
    margin-top: 70px;
    display: flex;

    border: 1px solid orange;
    /* test */
}

main .text-img-container .box-img {
    width: 60%;
    height: 100%;
    border: 1px solid red;
    /* test */
}

main .text-img-container .box-text {
    width: 40%;
    height: 100%;
    padding: 20px;
    border: 1px solid red;
    /* test */
}

main .text-img-container .box-text p {
    padding: 10px 0 20px 0;
}
